.item{
    display: flex;
    margin: 20%;
    justify-content: center;
    width: 60%;
    background: linear-gradient(90deg,#020024 0%,#090979 10% , #00d4ff 100%);
    border: solid ;
    font-size: 20px;
    color: white;
}
.action-list{
    display: flex;
    padding : 15vh;
}
.action-item{
    padding: 15px;
}
.btn{
    display:inline-block;
    margin-bottom: O;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
}