<H1>StoryBoard</H1>
<div class="item">
    <p> {{ story?.description }} </p>
    <div class="action-list">
        <div class="action-item" *ngFor="let action of story?.action">
            <button class="btn" (click)="goToStory(action.idAction)"> {{ action.textAction }}</button>
        </div>
    </div>
    
    
</div>
